.skills{
    h1{
        color: rgb(74, 74, 157);
    }
    .points{
        display: flex;
        flex-direction: row;
        gap: 10px;

        .point{
            background-color: rgb(74, 74, 157);
            border-radius: 5px;
            height: 30px;
            width: 80px;
            
        }
    }
}