.resume{
    margin: 40px 250px;
    display: flex;
    flex-direction: row;
    gap: 50px;

    .top{
        color: rgb(74, 74, 157);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
    }

    .left{
        width: 400px;
    }

    .right{
        width: 500px;
    }
}