.contact{
    h1{
        margin: 30px 590px;
        color: rgb(74, 74, 157);
    }

    .sides{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 60px 312px;

        .left{
            width: 400px;
            span{
                font-size: 24px;
            }
        }

        .right{
            width: 400px;
            .form{
                display: flex;
                flex-direction: column;

                span{
                    font-size: 18px;
                    font-weight: 600;
                    margin: 10px 0px;
                    color: rgb(74, 74, 157);
                }

                .input{
                    margin: 0px 0px 10px;
                    height: 30px;
                }

                .message{
                    height: 200px;
                }

                button{
                    margin: 20px 0px;
                    height: 40px;
                    width: 400px;
                    background-color: rgb(134, 134, 232);
                    border: none;
                    border-radius: 5px;
                    font-size: 18px;
                }
            }
        }
    }
}