.contact{
    h1{
        margin: 30px 590px;
        font-size: 32px;
        color: rgb(74, 74, 157);
    }

    .sides{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 40px 250px; 
        /* 312px; */
        border: 0.5px solid #989fad;
        border-radius: 10px;
        height: 570px;
        width: 950px;

        .left{
            width: 400px;
            background-color: rgb(194, 194, 249);
            background-size: cover;
            padding: 40px 0px 40px 50px;
            span{
                font-size: 30px;
                color: rgb(74, 74, 157);
            }
            p{
                font-size: 20px;
            }

            img{
                height: 400px;
            }
        }

        .right{
            width: 400px;
            margin: 40px 50px 40px 0px;

            .form{
                display: flex;
                flex-direction: column;

                span{
                    font-size: 18px;
                    font-weight: 600;
                    margin: 10px 0px;
                    color: rgb(74, 74, 157);
                }

                .input{
                    margin: 0px 0px 10px;
                    height: 30px;
                    border: 0.1px solid #989fad;
                    border-radius: 3px;
                }

                .message{
                    height: 200px;
                }

                button{
                    margin: 20px 0px;
                    height: 40px;
                    width: 400px;
                    background-color: rgb(134, 134, 232);
                    border: none;
                    border-radius: 5px;
                    font-size: 18px;
                }
            }
        }
    }
}