.navbar{
    overflow-x: hidden;
    overflow-x: clip !important;
    height: 50px;
    width: 100%;
    background-color: rgb(134, 134, 232);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1;

    .left{
        display: flex;
        flex-direction: row;
        margin: 10px 60px;
        width: 40px;
        height: 30px;
        gap: 5px;
    }

    .menu{
        display: flex;

        .btn{
            display: none;
        }
    }
    
    .show{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 15px 0px 0px 400px;
        list-style: none;
        
        /* li{
            margin: 0px 0px;
        } */

        li:hover{
            color: #504d4d;
            cursor: pointer;
        }
    }

    .hide{
        display: none;
        flex-direction: row;
        gap: 40px;
        margin: 15px 0px 0px 400px;
        list-style: none;


        li:hover{
            color: #504d4d;
            cursor: pointer;
        }
        

    }

    a{
        text-decoration: none;
        color: black;

        .right{
            display: flex;
            flex-direction: row;
            margin: 15px 0px 0px 300px;
            gap: 7px;
            
    
            .mail{
                width: 18px;
                height: 18px;
                margin-top: 2px;
                cursor: pointer;
            }
    
            
        }
    }

    a:hover{
        color: #504d4d;
    }
    

    @media only screen and (max-width: 480px) {
        .navbar{
            margin-bottom: 500px;
        }
            .left{
                margin: 10px 30px;
                margin-right: 700px;
            }

            .menu {
                position: absolute;
                right: 0;
                margin: 5px 30px;
                flex-direction: column;
                align-items: flex-end;
                gap: 11px;
                z-index: 3;

                .btn{
                    display: block;
                    cursor: pointer;
                }
            }

            .show{
                display: none;
            }
    
            .hide{
                display: none;
                flex-direction: row;
                align-items: center;
                gap: 13px;
                border-radius: 10px;
                background: linear-gradient(
                  0deg,
                  rgba(164, 172, 185, 0.2) 0%,
                  #a5a5f3 100%
                );
                margin: 0px;
                padding: 15px 60px;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
            }

            .menuOpen {
                display: flex;
                z-index: 1;
            }

            .mail{
                display: none;
            }
    }
}