.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(134, 134, 232);
    display: flex;
    flex-direction: row;

    .left{
        display: flex;
        flex-direction: row;
        margin: 10px 60px;
        width: 40px;
        height: 30px;
        gap: 5px;
    }
    
    .middle{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 15px 0px 0px 400px;
        
        span{
            margin: 16px 0px;
        }

        span:hover{
            color: #504d4d;
        }

    }

    a{
        text-decoration: none;
        color: black;

        .right{
            display: flex;
            flex-direction: row;
            margin: 15px 0px 0px 300px;
            gap: 7px;
            
    
            .mail{
                width: 18px;
                height: 18px;
                margin-top: 2px;
            }
    
            
        }
    }

    a:hover{
        color: #504d4d;
    }
    

    
}