.navbar{
    height: 70px;
    width: 100%;
    background-color: rgb(134, 134, 232);

    .left{
        display: flex;
        flex-direction: row;
        gap: 20px;

        span{
            margin: 23px 0px;
        }

    }
}