.footer{
    hr{
        margin: 10px 20px;
        border: none;
        height: 0.5px;
        background-color: #b8b8b8;
    } 
    .info{
        margin: 10px 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span{
            color: #b8b8b8;
        }

        .socials{
            align-items: center;
            

            .social{
                color: #b8b8b8;
                width: 20px;
                height: 20px;
                margin: 2px;
                cursor: pointer;
            }
        }
    }


    @media only screen and (max-width: 480px) {
        height: 80px;
        hr{
            width: 400px;
            margin: 0px 20px;
        }

        .info{
            margin: 10px 30px;
        }
        
    }
}